<div class='row'>
    
    <div class='col-xs-6'>
        <% for @p in @posts %>
        <div class="panel panel-default">
              <div class="panel-body">
                   <p><%= @p.content %></p>
              </div>
        </div>
         <% end %>
    </div>
  
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">